.jumbotron {
  text-align: center;
  background-color: #99c2ff;
  color: #994c00;
  background-image: url(http://images.summitpost.org/original/242244.jpg);
  width: 100%;
 }

 body {
   font-family: monospace;
 }

 .planePic {
-  width: auto;
+  width: auto;
+  height: auto;
+}
+
+.character {
+  width: 40%;
   height: auto;
 }

 #result {
   display: none;
 }

 ul{
     list-style:none;
     padding: 40px;
     font-size: 15px;
}

.row {
  padding: 50px;
}


.floating {
  display: inline-block;
  float:right;
  padding: 40px;
}

h3 {
  padding-left: 43px;
}

img {
  margin-bottom: auto;
  padding-right: 40px;
}
