.jumbotron {
  text-align: center;
  background-color: #99c2ff;
  color: #994c00;
 }

 /*body {
   background-color: #e6b3ff;
 }*/

 img {
-  width: 50%;
+  width: 25%;
+  height: auto;
+}
+
+.character {
+  width: 40%;
   height: auto;
 }

 #result {
   display: none;
 }

 ul{
     list-style:none;
     padding: 40px;
}

.row {
  padding: 50px;
}


.floating {
  display: inline-block;
  float:right;
  padding: 40px;
}

h3 {
  padding-left: 43px;
}
